#about-a .container{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20%;
}
#line{
    display: block;
    background-color: rgb(211, 211, 8);
    margin-left: 626px;
    width: 2cm;
    height: 0.1cm;
    margin-bottom: 13px;
  }
#about-a .about-info { 
    display: grid;
    grid-template-areas:
      "bio-img bio bio"
      "aw1 aw2 aw3";
    grid-gap: 1.2rem;
   
  }
  
  #about-a .bio-image {
    grid-area: bio-img;
    height: 70%;
    align-items: center;
  }

  #about-a .bio {
    grid-area: bio;
    border-left: 3px solid #ffbc00;
    padding: 0.8rem;
  }
  
  #about-a .award-1 {
    grid-area: aw1;
  }
  
  #about-a .award-2 {
    grid-area: aw2;
  }
  
  #about-a .award-3 {
    grid-area: aw3;
  }
  
  #about-a .award-1 .fas,
  #about-a .award-2 .fas,
  #about-a .award-3 .fas {
    color: #ffbc00;
  
  }
  .tech {
    color: #fff;
    background-color: #333;
  }
  .te1{
    border-style: groove;
    border: height 100px;;
  }
  .container-1 {
    text-align: center;
  }
  .grid-1 {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 200px;
    gap: 5px;
    grid-area:1 1 3 4 ;
  }
  .item-1 {
    border-style:groove;
    border-radius: 5%;
  }
  .item-2 {
    border-style:groove;
    border-radius: 5%;
  }
  .item-3 {
    border-style:groove;
    border-radius: 5%;
  }
  .item-4 {
    border-style:groove;
    border-radius: 5%;
  }
  .increment-counter {
    background-color: #a0405d;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 0;
  }
  .counter-container {
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  .counter {
    font-size: 60px;
    margin-top: 10px;
  }
  .footer_container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #333;
    padding: 50px 0;
  }
  .footer.copy {
    text-align: center;
    color: #fff;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a,
  pre {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffbc00;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block !important;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a i {
    text-align: center;
    margin-top: 30%;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffbc00;
  }
  .contact-info {
    color: #fff;
  }
  pre {
    margin-left: -110px !important;
  }
  .bottom-line1 {
    height: 1px;
    width: 4rem;
    background: #ffbc00;
    display: block;
    margin: 0.5rem 0;
  }